:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-card: #dadada;
  --bg-card-shadow: #818181;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --bg-card: #303030;
    --bg-card-shadow: #494949;
  }
}

html,
body {
  max-width: 40rem;
  margin: 0 auto;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.vertical {
  display: flex;
  flex-direction: column;
}

.gap {
  row-gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  border-radius: 0.5rem;
  background: var(--bg-card);
  box-shadow: 0px 0px 10px var(--bg-card-shadow);
  row-gap: 1rem;
}
